<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/blog.css">
<link rel="stylesheet" href="/static/css/misc.css">
<!-- <script src="/static/js/google_auth.js"/>
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="396242970984-rbm8g6jlld6irfg0q6rsf2vm6tpcrk39.apps.googleusercontent.com"> -->

<head>
	<title>Doubt Blog</title>
</head>
<body >
<ul>
  <li><a href="http://localhost:5000/students/doubts">Home</a></li>
  <li><a href='http://localhost:5000/students/Maths'>Maths</a></li>
  <li><a href='http://localhost:5000/students/Chemistry'>Chemistry</a></li>
  <li><a href='http://localhost:5000/students/Physics'>Physics</a></li>  
</ul>
<div class="row" >
		
	<div class="col-lg-4" align="left"  >
		<!-- <a class="buttonround" ></a><br> -->
		<!-- <button class="dropdown" onclick="Nav()">My Account</button> -->
			
					
	</div>
	<div class="col-lg-4" align="center"><img class="buttonround" id="pic"></img><br>
		<a class="buttonblue">Name</a><br>
		<input class="buttonwhite" id="name" readonly><br>
		<a class="buttonblue">Email Id</a><br>
		<input class="buttonwhite" id="Email_Id"  readonly><br>
		<a class="buttonblue">Marks Scored</a><br>
		<input class="buttonwhite" id="Marks"  readonly><br>
		<a class="buttonblue">Rank Scored</a><br>
		<input class="buttonwhite" id="Rank"  readonly><br>		
		<button class="buttonred" onclick="signOut();">SignOut</button> 
	</div>
	<div class="col-lg-4" align="right">
	</div>

</div>

</body>
</html>