<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/blog.css">
<link rel="stylesheet" href="/static/css/misc.css">
<link rel="stylesheet" href="/static/css/sidenav.css">

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="396242970984-rbm8g6jlld6irfg0q6rsf2vm6tpcrk39.apps.googleusercontent.com"> 
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<head>
</head>
<header>
	
</header>
<body>
<ul>
  <li><a href="http://localhost:5000/students">Home</a></li>
  <li><a href='http://localhost:5000/students/Maths'>Maths</a></li>
  <li><a href='http://localhost:5000/students/Chemistry'>Chemistry</a></li>
  <li><a href='http://localhost:5000/students/Physics'>Physics</a></li>  
</ul>
 <h2>Question</h2>
<div id="mySidenav" class="sidenav"><a href="javascript:void(0)" class="closebtn" id="closebtn" onclick="closeNav()">&times;</a><input id="answer" type="text"></div>

<ol id="questionList">

</ol>
  <input id="question" type="text">

<br>
 



</body>
<footer>

</footer>
<script type="text/javascript">
var ip_list=window.location.href.split('/')
var  question=''
var subject=ip_list[ip_list.length-1]
console.log(subject)
fetch("/students/question_list?subject="+subject).then(response => {

			return response.json();

		}).then(data => {
		    //the json response sends arrays as strings so be sure while using them
			console.log("here")
			
			data=data["Question"]
			data=data[0]
			for(var i=0;i<data.length;i++)
			{

				var item=document.createElement("li")
				item.innerHTML=data[i]
			
				item.onclick=function(){
					openNav(this.innerHTML);
				}
				document.getElementById("questionList").appendChild(item)
				document.getElementById("questionList").appendChild(document.createElement("br"))

			}


		}).catch(err => {
		});
document.getElementById("question").addEventListener('keydown', function(event){
    if(event.keyCode==13)
    {
    	var list=document.getElementById("questionList")
    	var item=document.createElement("li")
    	item.innerHTML=document.getElementById("question").value
    	item.onclick=function(){
					openNav(item.innerHTML);

				}
    	document.getElementById("questionList").appendChild(item)
    	document.getElementById("questionList").appendChild(document.createElement("br"))
		sendInfo = {			
			"Email":'prantikchakraborty50@gmail.com',
			"Question":document.getElementById("question").value,
			"subject" : subject,
			};
			$.ajax({
				type: 'POST',
				// url: "https://www.autonise.com/signin_info",
				url:"http://localhost:5000/students/question",
				data: JSON.stringify(sendInfo),
				contentType: false,
				cache: false,
				processData: false,
				success: function(data) {					
					console.log("Registered")
				},
			});		    	

    	document.getElementById("question").value=""
    }
} );


function openNav(val) {
  document.getElementById("mySidenav").style.width = "250px";
  fetch("/students/answer_list?subject="+subject+"&question="+val).then(response => {return response.json();}).then(data => {
			data=data["Answer"]
			var myNode = document.getElementById("mySidenav")
			
			var item=document.createElement("input")
			item.value=val
			item.type="text"
			item.readOnly=true
			for(var child=myNode.firstChild; child!==null; child=myNode.nextSibling)
			{
				console.log(child)
				if ((child.id=="closebtn")||(child.id=="answer"))
				{
					continue;
				}
				else
				{
			    	myNode.removeChild(child);
			    }
			}



			myNode.appendChild(item)
			myNode.appendChild(document.createElement("br"))
			for(var i=0;i<data.length;i++)
			{
				var item=document.createElement("input")
				item.value=data[i]
				item.readOnly=true
				myNode.appendChild(item)
				myNode.appendChild(document.createElement("br"))
			}
			var item=document.createElement("input")
			item.type="text"
			item.id="answer"
			item.addEventListener('keydown',submit_answer,false)
			item.myParam=val
			myNode.appendChild(item)
			myNode.appendChild(document.createElement("br"))
		}).catch(err => {
		});
		


}
function submit_answer(event,question){
	if(event.keyCode==13)
    {
    	var list=document.getElementById("answerList")
    	item=document.createElement("label")
    	item.innerHTML=document.getElementById("answer").value
    	
    	myNode.appendChild(item)
    	myNode.appendChild(document.createElement("br"))
		sendInfo = {			
			"Email":'prantikchakraborty50@gmail.com',
			"Question":question,
			"Answer":document.getElementById("answer").value,
			"subject" : subject,
			};
			$.ajax({
				type: 'POST',
				// url: "https://www.autonise.com/signin_info",
				url:"http://localhost:5000/students/answer",
				data: JSON.stringify(sendInfo),
				contentType: false,
				cache: false,
				processData: false,
				success: function(data) {					
					console.log("Registered")
				},
			});		    	

    }
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</html>