<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/blog.css">
<link rel="stylesheet" href="/static/css/misc.css">
<link rel="stylesheet" href="/static/css/sidenav.css">

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="396242970984-rbm8g6jlld6irfg0q6rsf2vm6tpcrk39.apps.googleusercontent.com"> 
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<head>
</head>
<header>
	
</header>
<body>
<ul id="teachers">
  <li><a href="http://localhost:5000/teachers">Home</a></li>
  
</ul>
 <h2>Question</h2>


<ol id="questionList">

</ol>
  <input id="question" type="text">

<br>
 



</body>
<footer>

</footer>
<script type="text/javascript">
var ip_list=window.location.href.split('/')
var  question=''
var subject_list=document.getElementById("teachers")
email="anyone@gmail.com"
fetch("/teachers/subject_list?email="+email).then(response => {
	return response.json()
	}).then(data =>{
		sub=data["Subject"]

		for(var i=0;i<sub.length;i++)
		{
			var li=document.createElement("li")
			var a=document.createElement("a")
			a.href="http://localhost:5000/teachers/"+sub[i]
			a.innerHTML=sub[i]
			li.appendChild(a)
			subject_list.appendChild(li)
		}
	})

</script>
</html>